* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f2f5;
  min-width: 500px;
  font-family: inherit;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  /* overflow-y: none; */
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}
